.amenity{ 
	display: inline-block;
	margin: 0 20px 20px 0; 
	width: 40%;
}

.icon{
	height: 18px;
	width: 40px;
	display: inline-block; 
}
.icon img{
	height:18px;
}

.amenityname{
	display: inline-block; 
	font-family: ProximaNova-Light;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0.26px;
}