.filter {
  border-bottom: 1px solid rgba(151,151,151,0.32);
  padding: 0 0px 30px;
  margin: 0 30px 30px;
}

.filter h3{
  font-family: ProximaNova-Regular;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
	margin-bottom: 10px;
}

.filter label{ 
	font-family: ProximaNova-Light;
	font-size: 12px;
	color: #000000;
	letter-spacing: 0px; 
}

.filter input[type="checkbox"]{
	margin-top: 1px;
}

