.promowrap{
	overflow: hidden;
	padding-bottom: 20px;
}

.promowrap input{
	border: 1px solid rgba(27,7,28,0.15);
	height: 40px;
	opacity: 0.5;
	font-family: ProximaNova-Light;
	font-size: 12px;
	color: #000000;
	letter-spacing: 0.22px;
	line-height: 40px;
	width: 70%;
	float: left;
	margin: 0;
	text-indent: 15px;
}
.promowrap button{
	background: rgba(43,18,44,0.20);
	height: 40px;
	font-family: ProximaNova-Regular;
	font-size: 13px;
	color: #1B071C;
	letter-spacing: 0.23px;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	width: 30%;
	float: left;
	margin: 0;
}
.errorouter{
	width: 100%;
	background: #AD343E;
	margin: 10px 0 15px;
	padding: 15px 20px;
	overflow-y: auto;
	color: #ffffff;
	font-family: ProximaNova-Regular;
	font-size: 14px;
	border-bottom: 1px solid #ffffff;
}