.searchcontainer{
	margin-bottom: 30px;
	overflow: hidden;
}

.dropwrap{
	float: left;
	width: 20%;
	margin-right: 5%;
	text-align: center;
}

.dropwrap strong{
	display: block;
	text-align: left;
	width: 100%;
	opacity: 0.69;
	font-family: ProximaNova-Semibold;
	font-size: 12px;
	color: #000000;
	line-height: 17px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 15px;
}

/*
.searchInput{
	background: #FFFFFF;
	border: 1px solid #9B9B9B;
	font-family: ProximaNova-Light;
	font-size: 13px;
	color: #000000;
	letter-spacing: 0.37px;
	background: url('../../../../assets/drop-arrow.png') no-repeat right;
	background-size: 13px;
	padding: 10px 20px;
	background-position: right 15px center;
}
*/


@media screen and (max-width: 768px) {

	.searchcontainer{
		padding: 20px 0 0;
		margin-bottom: 10px;
	}

	.dropwrap{
		width: 48%;
		margin-right: 4%;
		margin-bottom: 20px;
	}
	.dropwrap strong{
		margin-bottom: 5px;
	}
	.dropwrap:nth-child(even){
		margin-right: 0;
	}
}